
@include mobile {
  .firstContact {
    height: 30rem;
    background-color: #F8F8F8;
    margin-top: 5rem;
    position: relative;
    //display: flex;
    //justify-content: center;

    img {
      position: absolute;
      height: 19rem;
      top: -2.8rem;

    }

    .firstContact__form {
      position: absolute;
      top: 18rem;

    }
  }
}
