@include mobile {
  header {
    .logo {
      width: 5rem;
    }

    .desktopMenu {

      li {
        display: none;

      }
    }

    nav {
      padding-top: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .hamburgerMenu__menu {
    position: absolute;
    //z-index: 8;
    background-color: rgba(0, 0, 0, 0.5);
    width: 10rem;
    right: 18px;
    top: 87px;
    height: 7.75rem;
    color: white;
    padding: 5px 5px 5px 5px;





    li {
      padding-bottom: 15px;
    }
  }

  .hamburgerBtn {
    border: none;
    background-color: white;
    font-size: 2.3rem;

  }
}


@include desktop {
  header {
    .hamburgerMenu {
      display: none;
    }

    nav {
      padding-top: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .desktopMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
          padding: 1.5rem 0 0 2rem;
          font-family: 'Lato', sans-serif;
        }
      }
    }

    //.first_layer {
    //  position: relative;
    //  z-index: 1;
    //}
    //
    //.second_layer {
    //  position: relative;
    //  z-index: 2;
    //  top: -352px;
    //  left: 1px;
    //  opacity: 0.5;
    //}

    .logo {
      width: 5rem;
    }

    .header_img {
      display: flex;
      justify-content: center;

    }
  }
}

//.haba {
//  position: absolute;
//  z-index: 3;
//  background-color: red;
//  width: 8rem;
//}
