@include mobile {
  .icons {
    padding-top: 2rem;
    height: 60rem;


    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      height: 5rem;
    }

    p {
      font-family: 'Lato', sans-serif;
      padding: 0.7rem 0 2rem 0;

    }
  }
}


@include desktop {
  .icons {
    height: 40rem;


    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .row {
      padding-top: 5rem;
      display: flex;
      justify-content: space-between;


      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3rem 0 3rem;

      }


      .icons__icon:hover {
        transform: scale(1.1) ;
        transition: 0.2s;
        color: #5069A9;
      }

      img {
        height: 6rem;
      }

      p {
        font-family: 'Lato', sans-serif;
        padding: 0.7rem 0 2rem 0;
        letter-spacing: 3px;

      }
    }
  }
}
